* {
    margin: 0;
    padding: 0;
    
}

html {
    height: 100%;
}

body {
    font-family: 'Comfortaa';
    font-size: 16px;
    background: linear-gradient(45deg, #ae87ba 0%, #2da3b1 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: black;

    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header h1 {
    padding-left: 0.5rem;
    color: whitesmoke;
}

header nav {
    padding-right: 0.5rem;
}

header nav a {
    padding: 0 0.2rem 0 0.2rem;
    font-size: 20px;
    color: whitesmoke;
}

    
